# Base de datos y GIS
geopandas
psycopg2-binary
SQLAlchemy
shapely
pyproj

# AWS
boto3
botocore
s3fs

# Manejo de datos
pandas
numpy
pyarrow

# Configuración y logging
python-dotenv
loguru

# Testing
pytest
pytest-cov
mock

# Utilidades
tqdm  # Para barras de progreso
requests
pyyaml

# Formateo y linting
black
flake8
isort
